language: python
python: 3.4
os:
  - linux
#  - osx
env:
  - TOX_ENV=py27
  - TOX_ENV=py34
  - TOX_ENV=pypy
matrix:
  fast_finish: true
  allow_failures:
    - os: osx
install:
  - pip install tox
  - pip install coveralls
script:
  - tox -e $TOX_ENV
after_success: coveralls
